.home-container {
    margin-top: 92px; /* Ajusta este valor según la altura de tu navbar */
    position: relative;
    height: calc(100vh - 92px);
}

.home-image {
    height: 100vh; 
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.home-container .title-row {
    position: absolute;
    top: 0; /* Centramos verticalmente */
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); /* Degradado */
    padding: 16px;
    border-radius: 10px;
    z-index: 1;
}

.home-container .buttons-row {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.home-container .custom-title {
    font-size: 18px;
    color: #7ecbff;
    font-weight: bold;
    margin-top: 0;
}

.home-container .custom-subtitle {
    font-size: 56px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: -20px;
}

@media (max-width: 992px) {

    .home-container {
        margin-top: 0px;
    }
    
    .home-container .custom-title {
        font-size: 24px;
    }
    
    .home-container .custom-subtitle {
        font-size: 62px;
    }
}

@media (max-width: 767px) {

    .home-container {
        margin-top: 0px;
    }
    
    .home-container .custom-title {
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    
    .home-container .custom-subtitle {
        margin-top: -10px;
        font-size: 28px;
        display: flex;
        justify-content: center;
    }
}