.button-primary {
    background-color: #7ecbff;
    color: white;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-primary:hover {
    background-color: #56a4d3;
    transform: translateY(-5px);
}

@media (max-width: 992px) {
    .button-primary {
        padding: 22px 40px;
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .button-primary {
        padding: 18px 36px;
        font-size: 20px;
    }
}